.Header{
  
position:relative;
  z-index: 10;
  top: 20px;
  margin: 0 75px;
  
 
}

.Routes{
 position: relative;
  z-index: 10;
  margin: 0 75px;
  
}

.gradient{
  height: 85vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  top: 0;
  
  background-image: linear-gradient(#008FDB, #ffffff)
  
}
