@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.categorycontainer {
    width: 60vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: "Baloo Paaji 2", sans-serif;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 3px, rgb(0 0 0 / 24%) 0 1px 2px;
    padding: 20px;
    margin: 40px 20px

}

#h1{
    color:ghostwhite;
    font-size: 2rem;

}

.categorycontainer > h1 {
    font-size: 2.7rem;
    color:#DB5500;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
}

.typess {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

#Event_Type, #date, #time, #Ticket_Type, #Location {
    font-size: 1rem;
    padding: 12px;
    border: none;
    width: 95%;
    background-color: #f9f9f9;
    border-radius: 6px;
    border-bottom: 2px solid #d3d3d3;
    transition: all 0.3s ease;
}

#Event_Type, #Ticket_Type{
    width: 98%;
}

#Event_Type:focus, #date:focus, #time:focus, #Ticket_Type:focus, #Location:focus {
    background-color: #e6f7ff;
    border-bottom: 2px solid #3a8fd3;
    outline: none;
}

#next {
    font-size: 1.2rem;
    width: 98%;
    padding: 12px;
    background-color: #3a8fd3;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#next:hover {
    background-color: #276bb1;
}

#next:active {
    background-color: #205c8c;


}

@media screen and (width <=1050px) {
    .categorycontainer {
        width: 80%;
    }
}
