.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px; /* Space between cards */
   
}

.button{
    height: 25vh;
    width: 21vw;
    margin: 0 20px 0 0;
    border-radius: 44px;
    border-color: #008FDB;
    border-style: solid;
}



.image{
     /* Make the image span the container's height */
    object-fit:contain; /* Ensures the image fills the container without distortion */
}

@media screen and (width <=700px) {
    .container{
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        overflow:hidden
        
    
    }
    
    
}