.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap:1vw;
    margin-top: 30px;
    


}

.filer-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:5vw;
    align-items: center;
    height: 100%;
    
}

#dropdown,#date_filter{
    border-radius: 107px;
    background-color:white;
    width: 12vw;
    font-size: 1.3rem;
    padding:10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    border-color: #008FDB;;
    box-shadow: rgb(50 50 93 / 25%) 0 6px 12px -2px, rgb(0 0 0 / 30%) 0 3px 7px -3px;
    font-family: Inter, sans-serif;
    text-align:left
   
  
}

.remove-filter{
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}
