@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.footer{
    background-color:#008FDB;
    height: 55vh;
    margin-top: 30px !important;
    
    
}

.align_centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: row;
    place-content:center space-around;
}

.logo_box{
    background-color: white;
    height: 30%;
    width: 30%;
    border-radius: 127px;
    border-color: #008FDB;
    border-style: solid;
}

.logo_button{
    color:#008FDB ;
    font-size:4vw;
    font-family: "Baloo Paaji 2", sans-serif; 

    /* not giving the same look as logo */
    font-weight: bolder;
    transition: transform 0.3s ease;

}

.footer_links p{
    margin: 8px 0;
    font-size: 1.5em;
    font-family: Inter, sans-serif;
    color:white;
    padding: 10px;
}

.footer_links link{
    text-decoration: none;
}

.footer_links p:hover{
    color:#DB5500 ;

}

.logo_button:hover{transform: scale(1.05);
    

}
   
#link{
   text-decoration:none
   
}

.my{
    color: #DB5500;
}

