
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.header {
   height: 9vh;
    display: flex;

    justify-content: space-between;

    align-content: center;
    
    margin:0 0 15px 0;

}


.logoLink{
    text-decoration: none;
    color: inherit;
    margin-top: 2%;
}
.logoLink1 {
    text-decoration: none;
    color: inherit;
    margin-top: 5%;
}

#logo{
    text-decoration: none;
    font-family: "Baloo Paaji 2", sans-serif;
    color: #008FDB;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}



.header_space1, .header_space2, .header_space3{
    display: flex;
    flex-direction: row ;
    align-content: center;
}


.header_space3{display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}
.header_space2 p,.header_space3 span{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0 2vh;
    font-family: "Inter", sans-serif;  
    font-size: 20px;}
   



.header_space3 span button{
    text-decoration: underline;
    font-size: 20px;
    border: 0;
    background-color: white;
}

.header_space3 span button:hover{
    cursor: pointer;
}
.sell_button{
  
    font-size: 20px;
    background-color: #008FDB;
    padding: 0 21px;
    height: 50%;
    border-radius: 31px;
    text-decoration: none;
    color: white;
}


