@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.statement{
    position:absolute;
    overflow: hidden;
    
    width: 100%;
   
   
   
    
    top:15vh;
    left:1%;
    

    color: white;
   
    margin-top: 60px;
    display: flex;
    justify-content: center;
    z-index: 11;
    font-size: 5rem;
    font-family: "Baloo Paaji 2", sans-serif;
    font-weight: bolder;}
   
    
    
    



    




.effort{
        color: #DB5500;
    }

 .word { 
    
   
       
       
        animation: change-word 3s infinite alternate ease-in-out; /* Change every 2 seconds */
      }



    @keyframes change-word {
        0%, 45% {
          transform: translateY(0); /* Show "sell" */
        }
        55%, 100% {
          transform: translateY(-100%); /* Show "buy" */
        }
      }
      

.word::after{
    content: "Buy";
    position: absolute;
    left: 0;
    top: 100%; 
   
    
   


}



@media screen  and (max-width:700px) {
    .statement{font-size: 1.6rem;}
    
}



