@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Styling the main container */
.Search-contanier1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    appearance: none;
    padding: 10px;
    border-color: white;
   
  }
  
  .Search-box1 {
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
    appearance: none;
    box-shadow: #008FDB 0 7px 14px, #008FDB 0 5px 5px;
    border-radius: 25px;
    border-color:white;
    border-width: 2px;

   
  }
  
  .Search-box1::placeholder {
    font-family: Inter, sans-serif;
    color: #a3a3a3;
    font-size: 1.2rem;
  }
  
  /* Input hover and focus effects */

  
 .Search-box1:focus {
    border-color: black;
    
  }
  
  .search-icon{
    position: absolute;
    right: 6%;
  }
  
  @media screen  and (max-width:480px) {
    .search-icon{
     
      right: 9%;
    }
  
  
  }
  
  
  
