.SearchDropBox-container {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 100px;
    width: 100%;
    border-radius: 10px;
}

.SearchDropBox-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.SearchDropBox-item:hover {
    background: #f0f0f0;
}

.SearchDropBox-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

.SearchDropBox-title {
    font-size: 14px;
}
