@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Styling the main container */
.Search-contanier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    background-color:white;
    border-radius: 29px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling the search input box */
  .Search-box {
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    
   
    border-radius: 29px;
    outline: none;
    /* transition: border-color 0.3s ease, box-shadow 0.3s ease; */
  }
  
  .Search-box::placeholder {
    font-family: "Inter", sans-serif;
    color: #aaa;
    font-size: 0.9rem;
  }
  
  /* Input hover and focus effects */
  .Search-box:hover {
    border-color: #888;
  }
  
  .Search-box:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  