@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --primary-color: #DB5500;
  --secondary-color: #333;
  --background-color: #f9f9f9;
  --text-color: #444;
  --font-family: "Inter", sans-serif;
  --transition-duration: 0.3s;
}


.container-main {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.search-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 0px;
}

.container-serached {
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
}

.add_event {
  font-family: "Baloo Paaji 2", sans-serif; 
  font-size: 1.3rem;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 25px;

  transition: color var(--transition-duration), transform var(--transition-duration);
}

.add_event:hover {
  color: black;
  transform: scale(1.05);
}

.features-container {
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.container-faqs {
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.faq-container {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .container-main {
    padding: 10px;
  }

  .add_event {
    font-size: 1rem;
  }

  .search-container,
  .container-serached,
  .features-container,
  .container-faqs {
    width: 90%;
  }
}
