@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center center;
    height: 80vh;
     
  }

.container-serached{
 margin-left: 18px;
 margin-right: 20px;
  
  
}

  .add_event{
    font-family: Inter, sans-serif; 
    font-size: 1rem;
    background-color:#DB5500;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 0 0;
    box-shadow: 0 4px 6px rgb(0 0 0 / 13%);
    transition: all 0.3s ease;
    margin-left: 20px;

  
  }

  .add_event:hover{
    box-shadow: 0 8px 15px rgb(0 0 0 / 28.1%);
    transform: scale(1.1)
  }

  .search-container{
    width: 60vw;
  }
  
.container-faqs{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.features-container{
  display: flex;
  justify-content: center;
  margin-top: 20px

}

@media screen  and (width >=1000px){
  .features-container{
    width: 70vw;
  }

  .container-main{
    width: 70vw;
    
  }

  .container-serached{
    width: 60vw;}

  
  
}