@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.categorycontainer3 {
    height: auto;
    width: 65%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    background-color:white;
    font-family: "Baloo Paaji 2", sans-serif;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 12%) 0 1px 3px, rgb(0 0 0 / 24%) 0 1px 2px;
    padding: 20px;
    margin: 40px 0px;
    
}

#h1{
    color: black;
    font-size: 2.7rem;

}

.categorycontainer > h1 {
    font-size: 2.7rem;
    color: black;
    text-align: left;
    margin-bottom: 20px;
    font-weight: 700;
}

.typess {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

#quantity, #information, #selling_price, #face_value, #transfer, #moreinfo{
    font-size: 1rem;
    padding: 12px;
    border: none;
    width: 95%;
    background-color: #f9f9f9;
    border-radius: 6px;
    border-bottom: 2px solid #0d5092;
    transition: all 0.3s ease;
    resize: none    ;
}

#texting{
    font-size: 1rem;
    padding: 12px;
    border: none;
    width: 98%;
    background-color: #f9f9f9;
    border-radius: 6px;
    border-bottom: 2px solid #0d5092;
    transition: all 0.3s ease;
    resize: none    ;
}

#quantity:focus, #information:focus, #selling_price:focus, #face_value:focus, #transfer:focus, #moreinfo:hover{
    background-color: #e6f7ff;
    border-bottom: 2px solid #3a8fd3;
    outline: none;
}

#submit {
    font-size: 1.2rem;
    width: 98%;
    padding: 12px;
    background-color: #3a8fd3;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #276bb1;
}

#submit:active {
    background-color: #205c8c;
}



.event-card2 {
    display: flex;
    flex-direction: row;
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 20px;
    width: 65%;
    flex-wrap: wrap;
   
    
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .event-card2:hover {
    transform: translateY(-5px);
  }
  
  .event-image1 {
    width: auto;
    height: 180px;
    object-fit: contain;
  }
  
  .event-details2 {
    padding: 15px;
 
  }
  
  .event-name2 {
    font-size: 3vw;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  .event-location2,
  .event-date2 {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
  }
  

  

  @media screen and (width <= 1090px) {
    .categorycontainer3, .event-card2{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .align_centre_column{
        display: flex
        ;
            flex-direction: column;
            align-items: center
      }
    

  }

  
